html,
body {
  margin: 0;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
.container-nav-1 {
  display: flex;
  width: 150px;
  margin-left: 100px;
  font-size: 28px;
  align-items: center;
justify-content: space-around;
}

.nav-li {
  display: inline-flex;
  width: 150px;
 
 
}
.container-nav-2,
.container-nav-1,
.nav-li {
  margin-top: 10px;
}
.container-nav-2 {
  margin-right: 100px;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.home-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Work Sans", sans-serif;
}
.hero-img {
  background-image: url(/img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background\ 1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: inset 0px -35px 10px 0px rgba(255, 255, 255, 1);
  height: 120vh;
  color: #fff;
}
.hero-text {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 68px;
  margin: 20px 250px;
}
.p-hero {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  margin: 20px 450px;
  padding-bottom: 20px;
}
.wrapper-input {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.input {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  backdrop-filter: blur(10px);
  padding: 20px 10px;
  border-radius: 50px;
  width: 100%;
}
::placeholder {
  color: #fff;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  padding-left: 20px;
}
.search-img {
  position: absolute;
  top: 6px;
  right: -10px;
  width: 45px;
}


/* //////////////  benefits-list  //////////////  */


.cont-1{
    display: flex;
    width: 300px;
    font-size: 24px;
    align-items: center;

}

.benefits {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  margin-top: 100px;
  margin-bottom: 200px;
}
.li-img {
  float: none;
  padding-right: 20px;
}
li{
    list-style: none;
}
.bold{
    font-size: 32px;
    font-weight: 400;
}
.not-bold{
    font-size: 18px;
  color: #a2a2a2;
  padding-top: 20px;
  padding-left: 65px;
}
/* //////////////  flowers-box ////////////// */
.flowers-wrapper{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 32px;
position: relative;
width: 100%;
}
.p-flower{
    font-size: 18px;
  color: #a2a2a2;
}
.flowers-text{
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
    font-weight: 700;
    width: 260px;
}
.purple-block{
    width: 280px;
    height: 400px;
    background: #C1D0E4;
    border-radius: 50px;
}
.white-block{
width: 280px;
height: 200px;
background: #fff;
border-radius: 50px;
position: absolute;
top: 200px;
}
.flower-img{
    float: none;
    top: -150px;
    position: absolute;
    width: 300px;
}